@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,100..1000;1,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "DM Serif Display", serif;
  --font-sans: "DM Sans", system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, .font-display {
  font-family: var(--font-serif);
}
